* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(248, 208, 169);
}

nav {
    padding: 10px
}

h1 {
    color: rgb(206, 79, 172);
    padding-top: 15px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 20px;
}

ul li {
    margin: 5px;
    list-style: none;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    color: brown;
    transition: all;
    transition-duration: 1000ms;
}

.container {
    min-height: 90vh;
}

form {
    padding: 33px;
    gap: 30px;
}

form label,
input {
    margin: 12px;
    text-align: center;
}

.btn {
    font-size: medium;
    border-radius: 6px;
}

.btn:hover {
    background-color: rgb(91, 197, 242);
    transition: all;
    transition-duration: 1000ms;
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table tbody tr th {
    border: 2px solid black;
    gap: 15px;
}

table tbody td {
    border: 2px solid black;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

@media (max-width: 600px) {
    body {
        font-size: 11px;
    }
}