* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #4A90E2;
    animation: fade 3s ease-in;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4A90E2
}

nav {
    padding: 10px
}

h1 {
    color: #E29C4A;
    padding-top: 15px;
    font-family: sans-serif;
    font-weight: 800;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 20px;
}

ul li {
    margin: 5px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 700;
}

ul li a:hover {
    color: brown;
    transition: all;
    transition-duration: 1000ms;
}

.container {
    min-height: 90vh;
}

form {
    padding: 33px;
    gap: 30px;
    font-family: sans-serif;
    font-weight: 600;
}

form label,
input {
    margin: 12px;
    text-align: center;
}

.btn {
    font-size: medium;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.btn:hover {
    background-color: #E29C4A;
    transition: all;
    transition-duration: 2000ms;

}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
}

table tbody tr th {
    border: 2px solid black;
    gap: 15px;
}

table tbody td {
    border: 2px solid black;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

@media (max-width: 600px) {
    body {
        font-size: 11px;
    }
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}
